nav {
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    border-bottom: 2px solid #f1f1f1;
    margin-left: calc(10%/6);
    padding: 1.2em 0;
    font-size: 1.2em;

}

img {
    width: 30%;
    margin: calc(10%/6);
}